<div class="ui centered grid">

  <div class="ui row">
    <h2 class="ui icon header">
      <i class="home icon"></i>
      <div class="content">
        Home
      </div>
    </h2>
  </div>

  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">Search</div>
        <div class="description">
          Search for Venues
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="search icon"></i>
        Go
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Explore</div>
        <div class="description">
          Get Venue Recommendations.
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="search icon"></i>
        Go
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Trending</div>
        <div class="description">
          Get Trending Venues
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="search icon"></i>
        Go
      </div>
    </div>
  </div>

</div>