<div class="ui centered grid">

  <div class="ui row">
    <h2 class="ui icon header">
      <i class="search icon"></i>
      <div class="content">
        Explore Venues
      </div>
    </h2>
  </div>

  <div class="ui row">
    <form class="ui eight wide column form">
      <div class="field">
        <label>Find a place near</label>
        <input type="text" name="client-id" placeholder="Location Query" #query>
      </div>
      <button class="ui button" type="button" (click)="search()">Search</button>
    </form>
  </div>
  
</div>