<div class="ui top fixed menu">
  <div class="ui container">
    <a class="item" [routerLink]="[ '/home' ]">
      <img src="/assets/place.svg">
    </a>
    <a class="item" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
    <a class="item" [routerLink]="[ '/search' ]" routerLinkActive="active">Search</a>
    <a class="item" [routerLink]="[ '/explore' ]" routerLinkActive="active">Explore</a>
    <a class="item" [routerLink]="[ '/trending' ]" routerLinkActive="active">Trending</a>
    <div class="right menu">
      <a class="item" [routerLink]="[ '/settings' ]" routerLinkActive="active">Settings</a>
      <a class="item" (click)="logout()">Logout</a>
    </div>
  </div>
</div>